[alias]
	br = branch -vv -a
	ci = commit
	co = checkout
	di = diff
	dif = diff
	gl = log --graph --pretty=oneline --
	glog = log --all --decorate --graph --
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --
	st = status --short
	up = pull
	vimdiff = difftool
[user]
	name = Li-Wen Hsu
	email = lwhsu@lwhsu.org
[diff]
	color = auto
	tool = vimdiff
[color]
	ui = auto
[core]
	safecrlf = true
[push]
	default = simple
[branch]
	autosetuprebase = always
[difftool]
	prompt = false
