[alias]
	ann = blame
	br = branch -vv
	ba = branch -vv -a
	ci = commit
	co = checkout
	di = diff
	dif = diff
	gl = log --graph --pretty=oneline --
	glog = log --all --decorate --graph --
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --
	st = status --short
	up = pull --autostash
	vimdiff = difftool
[user]
	name = Li-Wen Hsu
	email = lwhsu@lwhsu.org
	signingkey = 0x7377A4A02A2954DD
[diff]
	color = auto
	tool = vimdiff
[color]
	ui = auto
[core]
	safecrlf = true
	pager = diff-so-fancy | less -R
[branch]
	autoSetupRebase = always
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	prompt = false
[commit]
	gpgsign = true
[format]
	pretty = fuller
[log]
	date = iso
[push]
	default = upstream
	autoSetupRemote = yes
[pull]
	rebase = true
[rebase]
	autoStash = true
[blame]
	coloring = repeatedLines
