[alias]
	br = branch -v
	ci = commit
	co = checkout
	di = diff
	gl = log --graph --pretty=oneline
	glog = log --graph
	st = status --short
	up = pull
[user]
	name = Li-Wen Hsu
	email = lwhsu@lwhsu.org
[diff]
	color = auto
[color]
	ui = auto
[core]
	safecrlf = true
